/* 
Elements...
1. background color
2. base font size, x pixels high
3. use included Google fonts, with fallback values. 
   The browser will select the first font in the list that is installed or that can be downloaded.
   https://developer.mozilla.org/en-US/docs/Web/CSS/font-family
*/
html {
    background-color: #00529f84;
    background-image: url("backgroundimage.jpg");
    background-size: 4000px;
    font-size: 20px;
    font-family: "Silkscreen", "Roboto", "Open Sans", sans-serif;
  }
  
  /*
  Element's...
  1. fixed margin
      https://developer.mozilla.org/en-US/docs/Web/CSS/margin
      margin: 1em;                all four sides
      margin: 10px 3px 30px 5px;  top, right, bottom, left
      margin: auto;               top and bottom 0 margin, Box is horizontally centered
      margin: 5% auto;            vertical, horizontal 
      margin: 2em auto;           top and bottom 2em margin, Box is horizontally centered
  2. fixed width
  3. fixed border
  4. padding
      https://developer.mozilla.org/en-US/docs/Web/CSS/padding
  5. background color
  */
  body {
    margin: 30px auto;
    width: 630px;
    border: 5px solid black;
    padding: 0 20px 20px 20px;
    background-color: #ff95008b;
  }
  
  h1 {
    /*border: 1px solid black;*/
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
  }
/*
  DropBox stuff
*/
.wrapper { display: flex; }

#dropBox {
  width: 200px;
  height: 130px;
  border: 5px dashed gray;
  background: lightyellow;
  text-align: center;
  margin: 20px 0;
  color: orange;
}
#dropBox img {
  margin: 25px;
}

img {
    width: 130px;
    height: 80px;
    
}  